.register {
  height: fit-content;
  background-color: var(--secondary-color);
  padding: 90px;
}

.register form {
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  padding: 60px;
  height: 725px;
  width: 520px;
  margin: auto;
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
}

.register form h2 {
  color: var(--primary-color);
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 30px;
}

.register form p {
  font-weight: 300;
  margin: 20px 0;
}

.register form button {
  margin: 1.5rem auto;
}

@media screen and (max-width: 890px) {
  .register {
    padding: 10px;
  }

  .register form {
    width: 300px;
    padding: 20px;
    height: 780px;
  }

  .register form h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
}
